.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 70px;

    @media only screen and (max-width:480px) {
        padding: 20px 10px;
    }

    .headerImg-side{
        display: flex;
        flex-direction: row;
        gap: 25px;
        align-items: center;


    }

    .headerText-side{
        display: flex;
        flex-direction: row;
        gap: 25px;

        align-items: center;

        p{
            color: rgb(177, 177, 177);
        }
    }


}